__pycache__
lightning_logs
wandb

*.json
/cache/
*.pth
/output
pt_info.xlsx
segmagic_test.spec
temp_file.png
Thumbs.db
.~lock.pt_info.xlsx#
/build
/dist
/hand
/hand
/venv
/hand
/hand
/model
